/* defaults */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

section {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 30px;
  /* background-color: white; */
}

footer {
  background-color: white;
  padding: 50px;
  text-align: center;
}

.container {
  /* border: black 3px solid; */
  width: 80%;
  margin: 5px auto;
  padding: 0 3rem;
  background-color: white;
}

.logo {
  border: 1.5px solid black;
  border-radius: 50%;
  width: 5rem;
  text-align: center;
  padding: 20px 5px;
  margin: 0px auto 15px;
  background-color: antiquewhite;
}

.navbar {
  /* border: pink 3px solid; */
  margin: 3px 5px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.nav-links {
  /* border: 5px solid black; */
  display: flex;
  justify-content: space-around;
  /* justify-content: space-between; */
  max-width: 75%;
  margin: 5px auto;
}

.nav-links li {
  /* border: 2px green solid; */
  /* padding: 5px 15px; */
  padding: 5px 0;
  width: 6rem;
  text-align: center;
}

.nav-links li:hover {
  background-color: antiquewhite;
}

.project {
  padding-bottom: 10px;
}
