/* defaults */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
  background-color: antiquewhite;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

section {
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 30px;
  /* background-color: white; */
}

footer {
  background-color: white;
  padding: 50px;
  text-align: center;
}

.container {
  /* border: black 3px solid; */
  width: 80%;
  margin: 5px auto;
  padding: 20px 3rem;
  background-color: white;
}

.navbar {
  /* border: pink 3px solid; */
  margin: 4px 5px;
  padding: 20px 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
}

.logo {
  /* border: 1.5px solid black; */
  border: 1.5px solid goldenrod;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  text-align: center;
  /* padding: 20px 5px; */
  margin: 0 auto 15px;
  background-color: antiquewhite;
}

.logo-name {
  margin: 22px 0 0 5px;
  font-size: 3.5rem;
  font-family: 'Indie Flower', cursive;
  line-height: 0.6;
  /* border: 3px solid black; */
}

.nav-links {
  /* border: 5px solid black; */
  display: flex;
  justify-content: space-around;
  max-width: 60%;
  margin: 5px auto;
}

/* !!! add a media query to fix this nav links for mobile */

.nav-links li {
  /* border: 2px green solid; */
  padding: 8px 0;
  /* width: 6rem; */
  width: 4.5rem;
  text-align: center;
  border-bottom: #fff 3px solid;
  /* border-bottom: #000 3px solid; */
}

.nav-links li:hover {
  font-weight: bold;
  border-bottom: rgba(246, 188, 42, 0.749) 3px solid;
}

.project {
  padding-bottom: 30px;
}

.my-face {
  border-radius: 50%;
  width: 18rem;
  /* 18 or 20 */
  margin-left: 90px;
}

.bio {
  margin: 40px auto;
}

/* !!! media query for no grid */

/* !!! later add a media query for my face width: 12rem; */

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* !!! width wouldn't work for media queries etc... */
/* .screenshot {
  width: 50rem;
  margin: 20px;
} */

.video {
  width: 50rem;
  margin: 40px auto;
}

video {
  width: 50rem;
}

.mt-2 {
  margin-top: 12px;
}

/* !!!! go back and make mobile queries */
