/* defaults */

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'M PLUS 1p', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

section {
  padding-top: 10px;
  padding-bottom: 10px;
}

.container {
  width: 80%;
  margin: 0 auto;
  border: black 3px solid;
}

.logo {
  border: 2px solid black;
  border-radius: 50%;
  width: 3rem;
  text-align: center;
  padding: 2.5px 5px;
  margin: 5px auto;
  background-color: antiquewhite;
}

.navbar {
  border: pink 3px solid;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  border: 5px solid black;
  max-width: 75%;
  margin: 5px auto;
}

.nav-links li {
  padding: 5px 15px;
}

.nav-links li:hover {
  background-color: antiquewhite;
}

.project {
  padding-bottom: 10px;
}
